* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* REGOLE MACRO */
body {

    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;

}

/* main container */
.container {

    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;

}

/* Contenitore per il form */
.form-container {

    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px; 
    width: 100%;
    max-width: 600px; 

}

.button-container {

    display: flex;
    justify-content: center;
    width: 100%;

}


/* Regole => label - input */
label {

    margin-right: 10px;

}

input {

    margin-bottom: 10px;
    padding: 5px;

}

/* Regole => bottoni */
button {

    margin: 10px;

}

#calcola {

    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;

}

#annulla {

    padding: 10px 15px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;

}

/* button:hover {

    background-color: #45a049;

} */

/* OUTPUT */
/* .output {

    margin-top: 20px;
    font-size: 1.2em;

} */