* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* REGOLE MACRO */
body {

    background-image: url(../img/wallhaven-l315vy.png);
    background-size: cover;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

/* main container */
.container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 600px;
    margin: 0 auto;

}

/* Contenitore per il form */
.form-container {

    background-image: url(../img/modello-di-biglietto-del-treno-copia.JPG);
    background-size: cover;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    min-width: 600px;

}

/* Contenitore bottoni */
.button-container {

    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 40px;

}


/* Contenitore per il biglietto */
.ticket-container {

    background-image: url(../img/modello-di-biglietto-del-treno-design-piatto_copia.JPG);
    background-size: contain;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
    width: 600px;
    min-height: 350px;

}




/* REGOLE ELEMENTI */

/* Titolo del form */
h1 {

    text-align: center;
    font-size: 24px;
    color: white;
    margin-bottom: 10px;

}

/* Etichette e input */
label {

    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: white;
    font-size: 18px;

}

input[type="text"],
input[type="number"] {

    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ddd;

}

/* Regole => bottoni */
button {

    margin: 0 10px;
    border-radius: 99999px;
    border: none;
    border-radius: 5px;

}

button:hover {

    opacity: 0.9;

}

#calcola {

    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    padding: 0px 10px;

}

#annulla {

    padding: 10px 15px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;

}

/* Titolo del biglietto */
h2 {

    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
    color: white;

}

/* Biglietto vero e proprio */
.ticket {

    background-color: rgba(0, 0, 0, 0.1);
    padding: 15px;
    border-radius: 10px;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.8);
    font-family: 'Courier New', Courier, monospace;
    color: #333;

}

.ticket p {

    margin: 10px 0;
    font-size: 18px;
    font-weight: bold;
    color: white;

}

#ticketInfo {

    color: black;
    text-align: center;
    font-style: italic;
    height: 200px;

}

.ticket p strong {

    color: #000;

}




/* OUTPUT */
/* .output {

    margin-top: 20px;
    font-size: 1.2em;

} */