* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* REGOLE MACRO */
body {

    font-family: Arial, sans-serif;
    margin: 20px;
}

/* label - input - botton */
label {

    margin-right: 10px;

}

input {

    margin-bottom: 10px;
    padding: 5px;

}

button {

    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;

}

button:hover {

    background-color: #45a049;

}

/* OUTPUT */
.output {
    margin-top: 20px;
    font-size: 1.2em;
}